nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
