.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.control label {
  font-weight: bold;
  color: #464646;
}

.control input {
  border: 1px solid #ccc!important;
}

.control input:focus {
  outline: none;
  border-color: #4f005f!important;
  background: #f6dbfc!important;
}

/* .control.invalid input {
  border-color: red!important;
  background: #fbdada!important;
} */

@media (min-width: 768px) {

}
