.game {
    color: white;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    font-weight: 700;
}
.w-fit-content {
    width: fit-content!important;
}
.fw-600 {
    font-weight:600!important;
}
.g-3 {
    gap: 3rem;
}
.fs-2 {
    font-size: 2rem;
}
.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.options, .choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 2rem 1rem; */
}
.options {
    gap: 1rem;
}
.choices {
    gap: 2rem;
}
.choices img{
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}
.btn{
    color: #444;
    border:none;
    background: none;
    font-size: 1rem;
    border-radius: 3rem;
    text-transform: uppercase;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.6);
  
    padding: 0.6rem 1.5rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:active {
    transform: scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

.player-choice{
    transform: scale(-1, 1) rotate(-60deg);
}
.computer-choice{
    transform: rotate(-60deg);
}