.game {
    color: white;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    font-weight: 700;
}
.w-fit-content {
    width: fit-content!important;
}
.fw-600 {
    font-weight:600!important;
}
.g-3 {
    gap: 3rem;
}
.fs-2 {
    font-size: 2rem;
}
.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.options, .choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 2rem 1rem; */
}
.options {
    gap: 1rem;
}
.choices {
    gap: 2rem;
}
.choices img{
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}


.player-choice{
    transform: scale(-1, 1) rotate(-60deg);
}
.computer-choice{
    transform: rotate(-60deg);
}