.game_picker {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: center;
}

a {
  width: 30%;
  padding: 1rem;
  border: 2px solid black;
  background: inherit;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
