.game_picker {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: top;
  height: 6rem;
}

a {
  padding: 0.5rem;

  background: inherit;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
