body {
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    text-align: left;
    margin: 40px;
}
nav {
    text-transform: uppercase;
    font-weight: bold;
}
nav ul {
    display: flex;
    flex-wrap: nowrap;
}
nav li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    float: left;
    line-height: 1.2;
    box-shadow: 4px 4px  4px  -2px rgb(172, 172, 172);
}
nav li a {
    text-decoration: none;
    color: black;
    padding: 16px;
    transition: background-color 0.5s;
}
nav li a:hover {
    background-color: rgb(170, 170, 170);
}
main h2 {
    margin: 30px 40px 10px 40px;
}
.user-data-avatar-img{
    display:grid;
}
.avatar-img {
    margin-left: 40px;
}
.avatar-img img {
    height: 100px;
    border-radius: 50%;
    margin: 30px;
}
.user-data {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    font-size: 17px;
    vertical-align:middle;
}
.user-data ul{
    text-align: left;
    list-style: none;
}
.user-data li {
    padding:5px 0px;
}
.user-data span {
    color: gray;
    font-size: 14px;
}
.games-history {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 40px;
}
.game-history h4 {
    text-align: center;
}
.game-history table  {
    text-align: center;
    border-collapse:collapse;
}
.game-history tr * {
    border: 1px  solid gray;
    padding: 10px;
}
.friend {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.friend table {
    margin-right: auto;    
}
.friend table *{
    margin: 10px;
}
.friends img {
    border-radius: 50%;
    height: 40px;
}
.friend a {
    padding: 10px;
}
.friend td:hover{
    color: rgb(170, 170, 170);
}
#gameHistoryDiv, #rankingDiv, #userFriendsDiv, #rankingDiv, #userAchievementsDiv {
    visibility: hidden;
    display: none;
}

