<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0 "
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="small.css" />
    <link rel="stylesheet" href="medium.css" />
    <link rel="stylesheet" href="large.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>gryGiereczki</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav-button">
        <button class="nav-button main-button">gryGiereczki</button>
        <a href="games.html"
          ><button class="nav-button basic-nav-button">Gry</button></a
        >
        <a href="ranking.html"
          ><button class="nav-button basic-nav-button">Ranking</button></a
        >
        <a href="competitions.html"
          ><button class="nav-button basic-nav-button">Konkursy</button></a
        >
        <a href="games_history.html">
          <button class="nav-button basic-nav-button">Historia</button></a
        >
        <a href="achievements.html"
          ><button class="nav-button basic-nav-button">Osiągnięcia</button></a
        >
      </div>
      <div>
        <a href="user_panel.html"
          ><button class="nav-button basic-nav-button">
            <img class="logo" src="logo.png" alt="avatar" /> Moje konto
          </button></a
        >
      </div>
    </nav>
    <main>
      <section class="baner1">
        <p class="baner1-description">
          Dołącz do społeczności gryGiereczki i graj w najlepsze darmowe gry na
          świecie!
        </p>
        <p>tu zdjecie</p>
      </section>
      <section class="baner1">
        <p>tu zdjecie</p>
        <p class="baner1-description-2">
          Rywalizuj z innymi i zdobądź najlepsze miejsce w rankingu!
        </p>
      </section>
      <section>
        <button class="baner1-button">Dołącz do nas</button>
      </section>
    </main>
    <footer>
      <div class="row">
        <section class="column small-12 medium-6 large-3">
          <h2>Kontakt</h2>
          <ul>
            <li>gryGiereczki Company</li>
            <li>Gamingowa 123</li>
            <li>Bialystok, Polska</li>
          </ul>
        </section>
        <section class="column small-12 medium-6 large-3">
          <h2>Social media</h2>
          <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
          </ul>
        </section>
        <section class="column small-12 medium-6 large-3">
          <h2>O nas</h2>
          <ul>
            <li>Współpraca</li>
            <li>Co robimy</li>
          </ul>
        </section>
      </div>
      <!---end of the row-->
    </footer>
    <script src="main_page.js"></script>
    <p class="signature">&copy; 2022 &bull; all rights reserved.</p>
  </body>
</html>
