<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0 "
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="sign_in.css" />
    <link rel="stylesheet" href="small.css" />
    <link rel="stylesheet" href="medium.css" />
    <link rel="stylesheet" href="large.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <title>gryGiereczki</title>
  </head>
  <body>
    <p>Zakładanie konta</p>
    <form>
      <p>email:</p>
      <p>hasło:</p>
      <p>nick:</p>
      <button>Załóż konto</button>
    </form>
  </body>
</html>
