html {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  background-size: 100%;
}
body {
  font-family: monospace;
  font-size: 15px;
  font-weight: 300;
  margin: auto;
  max-width: 100%;
}
