<link rel="stylesheet" href="user_panel.css" />
<div>
  <!-- <ul>
    <li><a id="editPassword" onclick="show(id)">Edytuj haslo</a></li>
    <li><a id="editDetails" onclick="show(id)">Edytuj szczegóły</a></li>
    <li><a id="editDescription" onclick="show(id)">Edytuj opis</a></li>
  </ul> -->
  <div id="userDataDiv" class="user-data-avatar-img">
    <div class="leftUserDataDiv">
      <h2>Dane użytkownika</h2>
      <br />
      <div class="avatar-img">
        <img src="icon.png" />
      </div>
      <div class="user-data">
        <ul>
          <li><span>Imię:</span></li>
          <li><span>Nazwisko:</span></li>
          <li><span>Data urodzenia:</span></li>
        </ul>
        <ul>
          <a>Franeczek</a>
        </br>
          <a>Kowalewski</a>
        </br>
          <a>66.66.6666r.</a>
        </ul>
      </div>
      <div class="interactionUser">
        <button id="idButtonAdd" class="buttonAdd">Dodaj</button>
        <button id="idButtonBlock" class="buttonBlock">Blokuj</button>
        <button id="idButtonReport" class="buttonReport">Zgłoś</button>
      </div>
    </div>
  </div>
</div>
