<link rel="stylesheet" href="user_panel.css" />
<div id="gameHistoryDiv">
  <h2>Historia rozgrywek</h2>
  <div class="games-history">
    <div class="game-history">
      <h4>Tytuł gry pierwszej</h4>
      <table>
        <tr>
          <th>Data</th>
          <th>Wynik</th>
        </tr>
        <tr>
          <td>11.11.1111r.</td>
          <td>100</td>
        </tr>
        <tr>
          <td>11.33.1111r.</td>
          <td>300</td>
        </tr>
      </table>
    </div>
    <div class="game-history">
      <h4>Tytuł gry drugiej</h4>
      <table>
        <tr>
          <th>Data</th>
          <th>Wynik</th>
        </tr>
        <tr>
          <td>22.22.2222r.</td>
          <td>200</td>
        </tr>
      </table>
    </div>
    <div class="game-history">
      <h4>Tytuł gry pierwszej</h4>
      <table>
        <tr>
          <th>Data</th>
          <th>Wynik</th>
        </tr>
        <tr>
          <td>11.11.1111r.</td>
          <td>100</td>
        </tr>
        <tr>
          <td>11.33.1111r.</td>
          <td>300</td>
        </tr>
      </table>
    </div>
    <div class="game-history">
      <h4>Tytuł gry drugiej</h4>
      <table>
        <tr>
          <th>Data</th>
          <th>Wynik</th>
        </tr>
        <tr>
          <td>22.22.2222r.</td>
          <td>200</td>
        </tr>
      </table>
    </div>
  </div>
</div>
