<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="small.css" />
    <link rel="stylesheet" href="medium.css" />
    <link rel="stylesheet" href="large.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <title>Panel Użtkownika</title>
  </head>

  <body>
    <header>
      <!--tu bedzie layout??-->
      <h1 class="title">Panel użytkownika</h1>
    </header>
    <nav>
      <ul>
        <li><a id="userData" onclick="show(id)">Dane użytkownika</a></li>
        <li><a id="editProfile" onclick="show(id)">Edytuj profil</a></li>
        <li><a id="gameHistory" onclick="show(id)">Historia rozgrywek</a></li>
        <li><a id="ranking" onclick="show(id)">Miejsca w rankingach</a></li>
        <li><a id="userFriends" onclick="show(id)">Moi znajomi</a></li>
        <li><a id="userAchievements" onclick="show(id)">Osiągniecia</a></li>
      </ul>
    </nav>
    <nav id="editNav" hidden>
      <ul>
        <li><a id="editPassword" onclick="show(id)">Edytuj haslo</a></li>
        <li><a id="editDetails" onclick="show(id)">Edytuj szczegóły</a></li>
        <li><a id="editDescription" onclick="show(id)">Edytuj opis</a></li>
      </ul>
    </nav>
    <main>
      <div id="userDataDiv" class="user-data-avatar-img">
        <div class="leftUserDataDiv">
          <h2>Dane użytkownika</h2>
          <br />
          <div class="avatar-img">
            <img src="icon.png" />
          </div>
          <div class="user-data">
            <ul>
              <li><span>Imię:</span></li>
              <li><span>Nazwisko:</span></li>
              <li><span>Data urodzenia:</span></li>
            </ul>

            <ul>
              <li><a>Franeczek</a></li>
              <li><a>Kowalewski</a></li>
              <li><a>66.66.6666r.</a></li>
            </ul>
          </div>
          <div class="interactionUser">
            <button id="idButtonAdd" class="buttonAdd">Dodaj</button>
            <button id="idButtonBlock" class="buttonBlock">Blokuj</button>
            <button id="idButtonReport" class="buttonReport">Zgłoś</button>
          </div>
        </div>
        <div class="rightUserDataDiv">
          <h3>Opis:</h3>
          <p>
            Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis
            Opis Opis Opis Opis Opis Opis Opis
          </p>
        </div>
        <div id="buttonInteractionUser" class="classButtonInteractionUser">
          <div class="modal-content-new">
            <div class="modal-header-center">
              <span class="close">&times;</span>
              <h2>Potwierdź</h2>
            </div>
            <div class="modal-body-center">
              <p id="textBody"></p>

              <div id="checkBoxReport" hidden>
                <label class="container"
                  >Obraza
                  <input type="radio" checked="checked" name="radio" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >Oszukiwanie
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >Bugowanie
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
                <label class="container"
                  >Spamowanie
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>

                <div class="textReportClass">
                  <p>Opisz zdarzenie</p>
                  <textarea class="textReportClassTextArea"></textarea>
                </div>
              </div>
              <button class="buttonConfirm">Potwierdź</button>
              <button class="buttonCancel">Anuluj</button>
            </div>
          </div>
        </div>
      </div>

      <div id="editProfileDiv" class="editProfileClass">
        <div id="editPasswordDiv" class="editPasswordDivClass" hidden>
          <h2>Edytuj hasło</h2>
          <div class="editClass">
            <p>Stare hasło:</p>
            <input
              type="password"
              value="TrzebaUstawicValidacje"
              id="myInput"
              class="myInputClass"
            /><br /><br />
          </div>
          <div class="editClass">
            <p>Nowe hasło:</p>
            <input
              type="password"
              id="myInput2"
              class="myInputClass"
            /><br /><br />
          </div>
          <div class="editClass">
            <p>Powtórz hasło:</p>
            <input
              type="password"
              id="myInput3"
              class="myInputClass"
            /><br /><br />
          </div>
          <div class="editPasswordCheckbox">
            <input
              type="checkbox"
              class="editPasswordCheckbox2"
              onclick="myFunction('myInput', 'myInput2','myInput3' )"
            />
            <p>Pokaż hasło</p>
          </div>

          <div>
            <button class="ChangePasswordButtonClass">Zmień</button>
          </div>
        </div>

        <div id="editDetailsDiv" hidden>
          <h2>Edytuj szczeguły</h2>
          <div class="editClass">
            <p>Nick:</p>
            <input
              value="TrzebaUstawicValidacje"
              class="myInputClass"
            /><br /><br />
          </div>
          <div class="editClass">
            <p>E-mail:</p>
            <input input type="email" class="myInputClass" /><br /><br />
          </div>
          <div class="editClass">
            <p>Imie:</p>
            <input class="myInputClass" /><br /><br />
          </div>
          <div class="editClass">
            <p>Nazwisko:</p>
            <input class="myInputClass" /><br /><br />
          </div>
          <div class="editClass">
            <p>Data Urodzenia:</p>
            <input type="date" class="myInputClass" /><br /><br />
          </div>

          <div>
            <button class="ChangePasswordButtonClass">Zmień</button>
          </div>
        </div>

        <div id="editDescriptionDiv" hidden>
          <h2>Edytuj opis</h2>
          <div class="editClass">
            <p>Zmień Opis:</p>
            <textarea class="myInputClass2"></textarea>
          </div>

          <div>
            <button class="ChangePasswordButtonClass2">Zmień</button>
          </div>
        </div>
      </div>

      <div id="gameHistoryDiv">
        <h2>Historia rozgrywek</h2>
        <div class="games-history">
          <div class="game-history">
            <h4>Tytuł gry pierwszej</h4>
            <table>
              <tr>
                <th>Data</th>
                <th>Wynik</th>
              </tr>
              <tr>
                <td>11.11.1111r.</td>
                <td>100</td>
              </tr>
              <tr>
                <td>11.33.1111r.</td>
                <td>300</td>
              </tr>
            </table>
          </div>
          <div class="game-history">
            <h4>Tytuł gry drugiej</h4>
            <table>
              <tr>
                <th>Data</th>
                <th>Wynik</th>
              </tr>
              <tr>
                <td>22.22.2222r.</td>
                <td>200</td>
              </tr>
            </table>
          </div>
          <div class="game-history">
            <h4>Tytuł gry pierwszej</h4>
            <table>
              <tr>
                <th>Data</th>
                <th>Wynik</th>
              </tr>
              <tr>
                <td>11.11.1111r.</td>
                <td>100</td>
              </tr>
              <tr>
                <td>11.33.1111r.</td>
                <td>300</td>
              </tr>
            </table>
          </div>
          <div class="game-history">
            <h4>Tytuł gry drugiej</h4>
            <table>
              <tr>
                <th>Data</th>
                <th>Wynik</th>
              </tr>
              <tr>
                <td>22.22.2222r.</td>
                <td>200</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div id="rankingDiv">
        <h2>Miejsca w rankingach</h2>
      </div>
      <div id="userFriendsDiv" class="friends">
        <h2>Moi znajomi</h2>
        <div class="friend">
          <table>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
          </table>
          <table>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
          </table>
          <table>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
            <tr>
              <td><img src="icon.png" /></td>
              <td>Franeczek Kowal</td>
            </tr>
          </table>
        </div>
      </div>
      <div id="userAchievementsDiv">
        <h2>Osiągniecia</h2>
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
