<div id="userFriendsDiv" class="friends">
  <h2>Moi znajomi</h2>
  <div class="friend">
    <table>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
    </table>
    <table>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
    </table>
    <table>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
      <tr>
        <td><img src="icon.png" /></td>
        <td>Franeczek Kowal</td>
      </tr>
    </table>
  </div>
</div>
