<link rel="stylesheet" href="user_panel.css" />
<div id="editDetailsDiv">
    <h2>Edytuj szczegóły</h2>
    <div class="editClass">
      <p>Nick:</p>
      <input
        value="TrzebaUstawicValidacje"
        class="myInputClass"
      /><br /><br />
    </div>
    <div class="editClass">
      <p>E-mail:</p>
      <input input type="email" class="myInputClass" /><br /><br />
    </div>
    <div class="editClass">
      <p>Imie:</p>
      <input class="myInputClass" /><br /><br />
    </div>
    <div class="editClass">
      <p>Nazwisko:</p>
      <input class="myInputClass" /><br /><br />
    </div>
    <div class="editClass">
      <p>Data Urodzenia:</p>
      <input type="date" class="myInputClass" /><br /><br />
    </div>

    <div>
      <button class="ChangePasswordButtonClass">Zmień</button>
    </div>
  </div>

  <div id="editDescriptionDiv" hidden>
    <h2>Edytuj opis</h2>
    <div class="editClass">
      <p>Zmień Opis:</p>
      <textarea class="myInputClass2"></textarea>
    </div>

    <div>
      <button class="ChangePasswordButtonClass2">Zmień</button>
    </div>
  </div>
</div>